.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    background-color: teal;
}

.content-block {
    background-color: darkgreen;
    margin: 10px;
}

.profile-block {
    background-color: cornflowerblue;
    margin: 5px;
    width: 100%;
    min-width: 150px;
    max-width: 350px;
}

.image-block {
}

.bio-block {
}

.user-wall {
    background-color: cornflowerblue;
    margin: 5px;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.starred-block {
}

.lifeline-block {
}